<launch>
<arg name="quad_name" default="hummingbird"/>
<group ns="$(arg quad_name)" >
  <!-- Elevation mapping node -->
  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find elevation_mapping)/config/robots/rpg_test_quad.yaml" />
    <rosparam command="load" file="$(find elevation_mapping)/config/elevation_maps/precision_landing_simple.yaml" />
    <rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/stereo.yaml" />
    <param name="fused_map_publishing_rate" value="10.0" />
    <param name="time_tolerance" value="1.0" />
    <param name="sensor_frame_id" value="hummingbird/base_link" />

  </node>
 </group>

</launch>


