<launch>

  <!-- Elevation mapping node -->
  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/robots/simple_demo_robot.yaml" />
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/elevation_maps/simple_demo_map.yaml" />
    <rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/stereo.yaml" />
    <param name="fused_map_publishing_rate" value="1.0" />
    <param name="time_tolerance" value="1.0" />
    <param name="sensor_frame_id" value="cam_left" />

  </node>
</launch>
